node_modules/
.DS_Store
out/
dist/
package-lock.json
.history
.env.development
.env.development.local
.env.production
.env.production.local
.env.local
.env.*.local
.env.test

# Dependencies
node_modules
/.pnp
.pnp.js
api/livechat-robotapi-master

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# Python
__pycache__/
*.pyc
